.field-wrapper {
  padding: 5px 0px;
  margin-bottom: 8px;
  min-height: 40px;
  .form-control {
    padding: 4px 8px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  },
  input[type=text], select, textarea {
    height: 36px;
    font-size:12px;
  }

  input[type=radio] {
    width: auto;
  }

  .label {
    color: #777;
    padding: 0px 15px;
    vertical-align: top;
    box-sizing:border-box;
    margin-bottom: 5px;
  }

  .control{
    padding: 0px 15px;
    vertical-align: top;
    box-sizing:border-box;

    input, select, textarea {
      &[disabled] {
        cursor: not-allowed;
      }
    }
  }

  .helpText {
    padding: 0px 15px;
    box-sizing:border-box;
    color: #123456;
    display: none;
    font-family: monospace;
  }

  &.focused {
    .helpText {
      display: block;
    }
    .form-control {
        border: 1px solid lightblue;
    }

    .error {
      .message {
        display: none;
      }
    }
  }

  &.highlight {
    background: #FFF;
    border-radius: 3px;
    box-shadow: 0 0px 10px rgba(0,0,0,0.3);
    textarea {
      height: 100px;
    }
  }

  .error {
    .form-control {
      border: 1px solid red;
    }
    .message{
      margin-top: 5px;
      color: red;
      font-size: 12px
    }
  }

  .success {
    .form-control {
      border: 1px solid lightgreen;
    }
  }
}

.make-inline {
  .label {
    text-align: right;
    width: 20%;
    display: inline-block;
    margin-bottom: 0px;
  }

  .control {
    width: 40%;
    display: inline-block;
  }

  &.focused {
    .helpText {
      width: 40%;
      display: inline-block;
    }
  }
}

.hidden{
  display: none;
}
